@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Satisfy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f8d6ae;
}

h1,
h2,
h3,
h4,
p,
a {
  color: white;
  text-decoration: none;
  font-family: "Satisfy", sans-serif;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #78b0e4;
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn:hover {
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.btn-light {
  background: transparent;
  color: #fff;
}
